{% extends 'base.html' %} 
{% block content %}

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-3">
      <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action">All Product</a>

        {% for category in category %}
        <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.name}}</a>
        {% endfor %}
      </div>
    </div>

    <!--........Product..........-->
    <div id="product" class="col-lg-9">
      <div class="row mx-auto">
        {% for product in search %}
        <div class="card mx-auto mb-3" style="width: 18rem">
          <a href="{% url 'product-detail' product.id %}" class="btn"
            ><div class="item">
              <img
                src="{{product.image.url}}"
                class="card-img-top"
                alt="..."
              /></div
          ></a>
          <div class="card-body">
            <h4 class="card-title">{{product.name}}</h4>
            <h6 class="card-text">{{product.price}}</h6>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
